@import 'variables';

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.grow {
    transition: .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.container {
    max-width: 1200px !important
}

// Navbar
.bg-dark {
    background-color: rgb(58, 76, 133) !important;
}

.navbar-brand {
    font-weight: bold;
    font-family: monospace;
    font-size: 28px;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}