<header class="main-bar" style="background: #fff;">
	<div class="header">
		<div class="container">
			<div class="row row-ibl mid col-mar-0">
				<div class="col-md-3 col-xs-12 sm-center">
					<a id="logo" href="/" title="">
						<img src="/img/logo.png" alt="" title=""/>
					</a>
				</div>
				<div class="col-md-9 col-xs-12 text-right sm-center">
					<div class="nav-top">
						<ul>
                            <li><a href="/pages/gioi-thieu">Giới thiệu</a></li>
                            <li><a href="/blogs/tin-tuc">Tin tức</a></li>
                            <li><a style="color: #db701e;" class="smooth active" href="/register">Đăng Ký Showroom trên NamThinh.vn</a></li>
                            <li><a class="smooth" href="#" title="">Chăm sóc khách hàng</a></li>
                            <li><a class="smooth" href="/users/login" title="">Đăng nhập</a></li>
                        </ul>
                    </div>

                    <div class="nav-bottom">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2 w-50 ml-auto" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
