<div class="container my-5">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/logo.png" alt="">
                </div>

                <div class="col-md-8">
                    <div class="ct">
                        <h5 class="title">BRIDGESTONE TURANZA GR100 225/45R18 MÃ 225/45R18</h5>
                        <div class="title mb-3">BRIDGESTONE TURANZA GR100 225/45R18 MÃ 225/45R18</div>
                        <div class="des"><span style="text-transform:none; color: var(--cam);">Mã sản phẩm: </span>
                            20181116-381</div>
                        <div class="date-count-view">
                            <time>16/11/2018- Lượt xem : 764</time>
                        </div>

                        <div class="price large-size mb-4">
                            Liên hệ
                        </div>

                        <table height="80" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="width: 214px;" colspan="2">
                                        <h5 class="title">Thông tin nhà cung cấp </h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 52px;"><span>Showroom :</span></td>
                                    <td style="width: 330px;"><span>TRUNG TÂM LỐP XE THÀNH PHÁT </span></td>
                                </tr>
                                <tr>
                                    <td style="width: 52px;"><span>Hotline :</span></td>
                                    <td style="width: 330px;"><span><a href="tel:0903912553">0903912553</a></span></td>
                                </tr>
                                <tr>
                                    <td style="width: 52px;"><span>Địa chỉ :</span></td>
                                    <td style="width: 330px;"><span>48 Lý Thái Tổ, Phường 2, Quận 3, Thành Phố Hồ Chí
                                            Minh</span> <a target="_blank" class="hoverred" href=""> ( Xem bản đồ ) </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p><span><a class="hoverred" href="/showroom/86">Xem thêm các sản phẩm khác cùng nhà cung cấp
                                    &gt;&gt;&gt;</a></span></p>
                        <hr>

                        <table height="80" style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="width: 214px;" colspan="2">
                                        <h5 class="title">Thông tin người đại diện</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 52px;"><span>Họ tên :</span></td>
                                    <td style="width: 330px;"><span>Phòng Kinh Doanh</span></td>
                                </tr>
                                <tr>
                                    <td style="width: 52px;"><span>Hotline :</span></td>
                                    <td style="width: 330px;"><span><a href="tel:0903912553"> 0903912553</a></span></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="p-social mt-4">
                            <div class="div-social">
                                <a href="javascript;">
                                    <div class="fb-like fb_iframe_widget"
                                        data-href="https://hanaco.vn/bridgestone-turanza-gr100-22545r18-ma-22545r18"
                                        data-layout="button_count" data-action="like" data-size="small"
                                        data-show-faces="false" data-share="true" fb-xfbml-state="rendered"
                                        fb-iframe-plugin-query="action=like&amp;app_id=258420356120629&amp;container_width=0&amp;href=https%3A%2F%2Fhanaco.vn%2Fbridgestone-turanza-gr100-22545r18-ma-22545r18&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small">
                                        <span style="vertical-align: bottom; width: 150px; height: 28px;"><iframe
                                                name="f1cbd83c982b69" width="1000px" height="1000px"
                                                data-testid="fb:like Facebook Social Plugin"
                                                title="fb:like Facebook Social Plugin" frameborder="0"
                                                allowtransparency="true" allowfullscreen="true" scrolling="no"
                                                allow="encrypted-media"
                                                src="https://www.facebook.com/v2.12/plugins/like.php?action=like&amp;app_id=258420356120629&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df203241e3b64b98%26domain%3Dhanaco.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fhanaco.vn%252Ff20226c10de3e0c%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fhanaco.vn%2Fbridgestone-turanza-gr100-22545r18-ma-22545r18&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=false&amp;size=small"
                                                style="border: none; visibility: visible; width: 150px; height: 28px;"
                                                class=""></iframe></span></div>
                                </a>
                                <a href="javascript;">
                                    <div id="___plusone_0" style="position: absolute; width: 450px; left: -10000px;">
                                        <iframe ng-non-bindable="" frameborder="0" hspace="0" marginheight="0"
                                            marginwidth="0" scrolling="no"
                                            style="position:absolute;top:-10000px;width:450px;margin:0px;border-style:none"
                                            tabindex="0" vspace="0" width="100%" id="I0_1655456100716"
                                            name="I0_1655456100716"
                                            src="https://apis.google.com/u/0/se/0/_/+1/fastbutton?usegapi=1&amp;size=tall&amp;origin=https%3A%2F%2Fhanaco.vn&amp;url=https%3A%2F%2Fhanaco.vn%2Fbridgestone-turanza-gr100-22545r18-ma-22545r18&amp;gsrc=3p&amp;ic=1&amp;jsh=m%3B%2F_%2Fscs%2Fabc-static%2F_%2Fjs%2Fk%3Dgapi.lb.en.dzXZWX9QTbE.O%2Fd%3D1%2Frs%3DAHpOoo_epIQDPHdjFr3MLkazUi2Jmy50dQ%2Fm%3D__features__#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh&amp;id=I0_1655456100716&amp;_gfid=I0_1655456100716&amp;parent=https%3A%2F%2Fhanaco.vn&amp;pfname=&amp;rpctoken=81582179"
                                            data-gapiattached="true"></iframe></div>
                                    <g:plusone size="tall" style="vertical-align: top;" data-gapiscan="true"
                                        data-onload="true" data-gapistub="true"></g:plusone>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 px-2">
            <div class="ctrl-box md-content ">
                <h5 class="title uppercase text-center">Liên hệ <span style="color: var(--cam);"> nhà cung cấp</span>
                </h5>
                <form method="POST" action="/form/contact" class="form-validate" data-callback="reload_page"
                    novalidate="novalidate">
                    <input type="hidden" name="showroom_email" value="sale@trungtamvoxe.com">
                    <div class="form-group border-0 py-0">
                        <input type="fullname" class="form-control" id="fullname" name="fullname"
                            placeholder="Họ Tên (*)" required="" aria-required="true">
                    </div>
                    <div class="form-group border-0 py-0">
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="Email (Không bắt buộc)">
                    </div>
                    <div class="form-group border-0 py-0">
                        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Số Điện Thoại (*)"
                            required="" aria-required="true">
                    </div>
                    <div class="form-group border-0 py-0">
                        <textarea class="form-control small-size" rows="4" name="content"
                            readonly="">Xin chào, tôi vừa xem BRIDGESTONE TURANZA GR100 225/45R18 MÃ 225/45R18 trên hanaco.vn , hãy liên hệ tôi để tư vấn thêm.  Xin cảm ơn!</textarea>
                    </div>

                    <div class="form-group text-center border-0">
                        <button type="submit" class="mx-auto d-block btn btn-primary btn-inline-product">Gửi yêu
                            cầu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>