<h2 class="h-title">
            <span><a href="javascript:void(0)">Xe tải</a></span>
            <a class="link-more-1" href="showroom/86/lop-o-to-3">Xem tất cả</a>
        </h2>
<div class="row my-5">
    
    <div class="item d-flex col-md-3 px-0">
            <div class="card w-100" style="width: 18rem;">
                <a href="" class="image-container">
                    <img src="/img/hero-image-mustang.jpeg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <div class="ct">
                        <h5 class="title">
                            <a href="" title="">VỎ XE BRIDGESTONE 185/55R16 TURANZA ER37</a>  
                        </h5>
                        <div class="price my-2">Liên hệ</div>
                        <div class="showroom my-3"><span style="text-transform:none; color: var(--cam);">Showroom: </span> TRUNG TÂM LỐP XE NAM Thịnh</div>
                        <div class="address"><i aria-hidden="true" class="fa fa-map-marker"></i> Quận 3, Thành Phố Hồ Chí Minh</div>
                        
                    </div>
                </div>
                <div class="w-100 phone text-center">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="#">090xxxxxxx</a>
                        </div>
            </div>
        </div>  
        
</div>

<h2 class="h-title">
            <span><a href="javascript:void(0)">Xe du lịch</a></span>
            <a class="link-more-1" href="showroom/86/lop-o-to-3">Xem tất cả</a>
        </h2>
<div class="row my-5">
    
    <div class="item d-flex col-md-3 px-0">
            <div class="card w-100" style="width: 18rem;">
                <a href="" class="image-container">
                    <img src="/img/hero-image-mustang.jpeg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <div class="ct">
                        <h5 class="title">
                            <a href="" title="">VỎ XE BRIDGESTONE 185/55R16 TURANZA ER37</a>  
                        </h5>
                        <div class="price my-2">Liên hệ</div>
                        <div class="showroom my-3"><span style="text-transform:none; color: var(--cam);">Showroom: </span> TRUNG TÂM LỐP XE NAM Thịnh</div>
                        <div class="address"><i aria-hidden="true" class="fa fa-map-marker"></i> Quận 3, Thành Phố Hồ Chí Minh</div>
                        
                    </div>
                </div>
                <div class="w-100 phone text-center">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a href="#">090xxxxxxx</a>
                        </div>
            </div>
        </div>  
        
</div>



