<h2 class="h-title">
    <span><a href="javascript:void(0)">GIỎ HÀNG</a></span>
</h2>

<section id="cart-container">
    <table class="table table-hover">
        <thead id="thead-cart">
            <tr>
                <th scope="col">Thông Tin Sản Phẩm</th>
                <th scope="col"></th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tổng giá</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="product-item">
                <th scope="row">
                    <a href="/cart">
                        <img class="" src="/img/hero-image-mustang.jpeg" alt="">
                    </a>
                </th>
                <td><a href="/cart">
                        Hyundai New Porter Ép rác 3.2 khối khối 2021 - Hyundai Phú Lâm</a></td>
                <td class="total-product-price"><strong>390.000.000 VND</strong></td>
                <td>
                    <input class="product-quantity w-25 pl-1" value="1" type="number">
                </td>
                <td><strong class="total-product"></strong></td>
                <td>
                    <button class="btn btn-danger" type="button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr class="product-item">

                <th scope="row">
                    <a href="/cart">
                        <img class="" src="/img/hero-image-mustang.jpeg" alt="">
                    </a>
                </th>
                <td><a href="/cart">
                        Hyundai New Porter Ép rác 3.2 khối khối 2021 - Hyundai Phú Lâm</a></td>
                <td class="total-product-price"><strong>390.000.000 VND</strong></td>
                <td>
                    <input class="product-quantity w-25 pl-1" value="1" type="number">
                </td>
                <td><strong class="total-product"></strong></td>
                <td>
                    <button class="btn btn-danger" type="button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr class="product-item">

                <th scope="row">
                    <a href="/cart">
                        <img class="" src="/img/hero-image-mustang.jpeg" alt="">
                    </a>
                </th>
                <td><a href="/cart">
                        Hyundai New Porter Ép rác 3.2 khối khối 2021 - Hyundai Phú Lâm</a></td>
                <td class="total-product-price"><strong>390.000.000 VND</strong></td>
                <td>
                    <input class="product-quantity w-25 pl-1" value="1" type="number">
                </td>
                <td><strong class="total-product"></strong></td>
                <td>
                    <button class="btn btn-danger" type="button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <th scope="row">
                </th>
                <td id="total-cart" colspan="3"><strong></strong></td>
                <td>
                    <a href="" class="btn btn-primary btn-lg ">Tiếp tục mua hàng</a>
                </td>
                <td>
                    <a href="" class="btn btn-warning btn-lg">Thanh toán</a>
                </td>
            </tr>

        </tbody>
    </table>
</section>